<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>700638043306-q9lffe44alumkp3eu083h2lgbnlim6gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700638043306-q9lffe44alumkp3eu083h2lgbnlim6gq</string>
	<key>API_KEY</key>
	<string>AIzaSyBZHbpRngRTwtgS-FgOZ0H_jO4C5C6QSzM</string>
	<key>GCM_SENDER_ID</key>
	<string>700638043306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gron1</string>
	<key>PROJECT_ID</key>
	<string>gron-579d1</string>
	<key>STORAGE_BUCKET</key>
	<string>gron-579d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:700638043306:ios:803977d0e91922ee</string>
	<key>DATABASE_URL</key>
	<string>https://gron-579d1.firebaseio.com</string>
</dict>
</plist>
